<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <style>
    @import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
        @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
        @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

        body { font-family: 'Droid Serif'; }
        h1, h2, h3 {
        font-family: 'Yanone Kaffeesatz';
        font-weight: normal;
        }
        .remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
        </style>
        </head>
        <body>
            <textarea id="source">

<% @events.each do |event| %>
class: middle left

# <%= event.group %>
***
## <%= event.title %>
### <%= event.date.strftime("%A, %B %d") %> @ <%= event.time.strftime("%l:%M %P") %>
### Location: <%= event.venue.name %>
#### Duration <%= event.duration %> hour(s)

---
<% end %>


    </textarea>
    <script src="https://remarkjs.com/downloads/remark-latest.min.js">
    </script>
    <script>
     var slideshow = remark.create();
     setInterval(function () {carousel(slideshow)}, 8000);

     function carousel(varObject) {
         var slideCount = varObject.getSlideCount()-1;
         var currentSlide = varObject.getCurrentSlideIndex();
         // if the slideshow is on the last slide, go back to the first slide; if not, call gotoNextSlide();
         if (currentSlide == slideCount) {
             varObject.gotoFirstSlide();
         }
         else { varObject.gotoNextSlide(); }
     }
    </script>
  </body>
</html>
