<!DOCTYPE html>
<html>
<head>
    <title>Techlahoma Meetups</title>
    <meta charset="utf-8">
    <style>
    @import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
        @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
        @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

        body { font-family: 'Droid Serif'; }
        h1, h2, h3 {
        font-family: 'Yanone Kaffeesatz';
        font-weight: normal;
        }
        .remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
        </style>
        </head>
        <body>
            <textarea id="source">
class: middle left

# techlahoma.org
***
### non-profit volunteer-run organization
### hosts 33 groups and 2 conferences
### sponsors free local events
### supports the grassroots tech community of Oklahoma
---
class: middle left

# donate.techlahoma.org/membership
***
### If you like this meetup and what we do here, please consider becoming a Techlahoma member.
### Funding allows Techlahoma to help user groups like this one around the state and host two conferences.
### Thank you!
---
class: middle left

# Slack
***
### &#35;okc-ruby, &#35;ruby, &#35;speakers, &#35;tech-talk, &#35;random, &#35;jobs and over 170 other topics.
### More info at techlahoma.org/spaces
### Sign up at slack.techlahoma.org
---
class: middle left 
# Code of Conduct
# techlahoma.org/code-of-conduct 
***
# Incident Report:
# techlahoma.org/incident
---
class: middle left
# StarSpace46.com
***
## This event space is donated by StarSpace46
## If you like them and want them to stick around, get a community membership.
## starspace46.com/membership-inquiry
## Slack: &#35;starspace46
---
class: middle left
# Volunteers Needed
***
## Want to get more involved?
## help-wanted.techlahoma.org
---
<% @events.each do |event| %>
class: middle left

# <%= event.group %>
***
## <%= event.title %>
### <%= event.date.strftime("%A, %B %d") %> @ <%= event.time.strftime("%l:%M %P") %>
### Location: <%= event.venue.name %>
#### Duration <%= event.duration %> hour(s)
---
<% end %>
class: middle left
# twitch.tv/techlahoma
***
## We've been streaming almost all of our meetups at StarSpace46 to Twitch.
## Subscribe to our channel for free every if you have Amazon Prime.
## Techlahoma gets $5 per subscription!



    </textarea>
    <script src="https://remarkjs.com/downloads/remark-latest.min.js">
    </script>
    <script>
     var slideshow = remark.create();
     setInterval(function () {carousel(slideshow)}, 8000);

     function carousel(varObject) {
         var slideCount = varObject.getSlideCount()-1;
         var currentSlide = varObject.getCurrentSlideIndex();
         // if the slideshow is on the last slide, go back to the first slide; if not, call gotoNextSlide();
         if (currentSlide == slideCount) {
             varObject.gotoFirstSlide();
         }
         else { varObject.gotoNextSlide(); }
     }
    </script>
  </body>
</html>
